@page "/"
@using FoodDelivery.Web.Extensions
@using Microsoft.AspNetCore.SignalR.Client

@inject IJSRuntime JS
@inject IHttpMessageHandlerFactory ClientFactory

<div id="map" style="width: 100%; height: 400px;"></div>

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://apiservice/locationHub", ClientFactory)
            .Build();

        hubConnection.On<double, double>("ReceiveLocationUpdate", async (lat, lon) =>
        {
            StateHasChanged();
            await UpdateMap(lat, lon);
        });

        await hubConnection.StartAsync();
    }

    private async Task UpdateMap(double latitude, double longitude)
    {
        await JS.InvokeVoidAsync("addMarker", latitude, longitude);
    }
}